<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <title>UEG - Desenvolvimento Web 2025: Alunos</title>
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">UEG - PROJETO WEB</a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">UEG - PROJETO WEB</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>

    <h1 class="center light-blue-text">Lista de Alunos</h1>
    <div class="center">
      <a href="/" class="waves-effect waves-light btn">Inicio</a>
      <a href="/alunos" class="waves-effect waves-light btn">Alunos</a>
      <a href="/alunos/create" class="waves-effect waves-light btn">Novo Aluno</a>
    </div>

  <div class="container">
      <div class="section">

          <br >
          <form action="/alunos/busca" method="get">
              <label>Nome para busca:</label>
              <input type="text" name="nome">
              <button class="waves-effect waves-light btn-small">Busca</button>
          </form>

          <br >

          <table class="table">
              <tr>
                  <th>Nome</th>
                  <th>Matrícula</th>
                  <th>Ações</th>
              </tr>

              <tr th:each="aluno, iter: ${alunos}">
                  <td th:text="${aluno.nome}">

                  </td>
                  <td th:text="${aluno.email}">

                  </td>
                  <td>
                      <ul>
                          <li>
                              <a class="waves-effect waves-light btn-small blue"
                              th:href="@{'/alunos/update/telefone/' + ${aluno.id}}">Telefones</a>
                          </li>
                          <li>
                              <a  class="waves-effect waves-light btn-small" th:href="@{'/alunos/update/' + ${aluno.id}}">Atualizar</a>
                          </li>
                          <li>
                              <a  class="waves-effect waves-light btn-small red" th:href="@{'/alunos/delete/' + ${aluno.id}}">Excluir</a>
                          </li>
                      </ul>
                  </td>
              </tr>
          </table>

      </div>
  </div>
  </body>
</html>
