<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UEG - Desenvolvimento Web 2025: Aluno</title>
  </head>
  <body>
    <h1>Atualização Cadastro de Aluno</h1>
    <form action="">
      <label>Nome:</label><br>
      <input type="text" name="nome" /><br>
      <label>Matríula:</label><br>
      <input type="text" name="matrícula" /><br>
      <label for="email">E-mail:</label><br>
      <input type="text" name="email"><br><br>
      <button type="submit">Atualizar aluno</button>
    </form>
    <H3><a href="index">home</a></H3>
  </body>
</html>