<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UEG - Desenvolvimento Web 2025: Aluno</title>
  </head>
  <body>
    <form action="/alunos/update" method="post">
      <input type="hidden" name="id" th:value="${id}">
      <label>Nome: </label>
      <input type="text" name="nome" th:value="${aluno.nome}">
      <label>Email</label>
      <input type="text" name="email" th:value="${aluno.email}">
      <button class="waves-effect waves-light btn">Salvar</button>
      </form>
  </body>
</html>