<!DOCTYPE html>
<html lang="pt-br">
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <title>UEG - Desenvolvimento Web 2025: Aluno</title>
    </head>
    <body>
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">UEG - PROJETO WEB</a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">UEG - PROJETO WEB</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
        </div>
      </nav>

      <h1 class="center light-blue-text">Cadastro de Aluno</h1>
      <div class="container">
        <div class="section">
            <form action="/alunos/create" method="post">
                <div class="row">

                    <div class="input-field col m6 s12">
                        <label>Nome: </label>
                        <input type="text" name="nome">
                    </div>
                    <div class="input-field col m6 s12">
                        <label>Email</label>
                        <input type="text" name="email">
                    </div>
                </div>

                <button class="waves-effect waves-light btn-large">Salvar</button>
            </form>
        </div>
    </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>
</html>
