<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <title>UEG - Desenvolvimento Web 2025: Aluno</title>
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"
            ><i class="material-icons">menu</i></a
          >
        </div>
      </nav>

      <div class="container">
        <div class="section">


            <form action="/alunos/update/telefone" method="post">
                <div class="input-field col m6 s12">
                    <input type="hidden" name="id" th:value="${id}">
                    <label>Nome: </label>
                    <input type="text" name="nome" th:value="${aluno.nome}" disabled>
                </div>

                <div class="col m6 s12">
                    <label>Telefones</label>
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col">Telefone</th>
                            <th scope="col">Ação</th>
                        </tr>
                        <tr th:each="telefone : ${aluno.telefones}">
                            <td th:text="${telefone.numero}"></td>
                            <td>
                                <a class="waves-effect waves-light btn-small red"
                                    th:href="@{'/alunos/delete/telefone/'+ ${aluno.id} + '/' + ${telefone.id}}">-</a>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="novoTelefone" placeholder="Novo telefone">
                            </td>
                            <td>
                                <button type="submit" class="waves-effect waves-light btn-small">+</button>
                            </td>
                    </table>
                </div>
            </form>


        </div>
    </div>
  </body>
  <script>
  </script>
</html>
